._1xxjUORPuaad-E2hbIQclI {
  padding: 15px 15px;
  background: #fff;
  border-bottom: 1px solid #ddd; }

._1dYPu0R96Yi4eyc062EECq {
  display: flex;
  max-width: 1160px;
  margin: 0 auto; }
  ._1dYPu0R96Yi4eyc062EECq ._3TfA8rnlN92fbhiCWlRzpa ._-5UpfXMAS478ocXapAryg {
    margin-left: 25px;
    display: flex; }
    ._1dYPu0R96Yi4eyc062EECq ._3TfA8rnlN92fbhiCWlRzpa ._-5UpfXMAS478ocXapAryg p {
      margin: 0;
      line-height: 36px;
      margin-left: 10px;
      color: #aaa; }
    ._1dYPu0R96Yi4eyc062EECq ._3TfA8rnlN92fbhiCWlRzpa ._-5UpfXMAS478ocXapAryg a {
      height: 36px;
      display: flex;
      align-items: center; }
      ._1dYPu0R96Yi4eyc062EECq ._3TfA8rnlN92fbhiCWlRzpa ._-5UpfXMAS478ocXapAryg a svg {
        height: 24px;
        width: 180px; }
        ._1dYPu0R96Yi4eyc062EECq ._3TfA8rnlN92fbhiCWlRzpa ._-5UpfXMAS478ocXapAryg a svg path, ._1dYPu0R96Yi4eyc062EECq ._3TfA8rnlN92fbhiCWlRzpa ._-5UpfXMAS478ocXapAryg a svg polygon, ._1dYPu0R96Yi4eyc062EECq ._3TfA8rnlN92fbhiCWlRzpa ._-5UpfXMAS478ocXapAryg a svg circle {
          fill: #000; }

._3ri8k4DiZgQuaA2l9CuftX {
  color: #000;
  text-decoration: none; }

._3Xtd3De9t4F_2NJCE13xDE ._1kTHpj9BsF-mgkw-y4WDF4 {
  position: absolute;
  top: 25px;
  left: 30px;
  cursor: pointer; }
  ._3Xtd3De9t4F_2NJCE13xDE ._1kTHpj9BsF-mgkw-y4WDF4 span {
    width: 20px;
    height: 1px;
    display: block;
    background-color: #000; }
    ._3Xtd3De9t4F_2NJCE13xDE ._1kTHpj9BsF-mgkw-y4WDF4 span:nth-child(2) {
      margin: 6px 0; }

._3QfrgEfH0FQi1LzOIxQ-gu {
  flex: 1;
  text-align: right; }

._19UcbtZpbiSfHJl3uDngt8 ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  height: 36px;
  align-items: center;
  margin-right: 25px; }
  ._19UcbtZpbiSfHJl3uDngt8 ul li {
    margin-left: 10px; }
    ._19UcbtZpbiSfHJl3uDngt8 ul li a {
      height: 36px;
      color: #000;
      display: flex;
      align-items: center; }
      ._19UcbtZpbiSfHJl3uDngt8 ul li a svg {
        width: 20px;
        height: 20px; }
        ._19UcbtZpbiSfHJl3uDngt8 ul li a svg path, ._19UcbtZpbiSfHJl3uDngt8 ul li a svg circle {
          fill: #000; }

._11SGigoblRHQF9UWLmVDgM {
  list-style: none;
  max-width: 1160px;
  margin: 0 auto;
  margin-bottom: 0px; }
  ._11SGigoblRHQF9UWLmVDgM li {
    display: inline;
    margin-right: 25px;
    font-size: 14px; }
    ._11SGigoblRHQF9UWLmVDgM li a {
      color: #000;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 13px;
      line-height: 36px; }
      ._11SGigoblRHQF9UWLmVDgM li a:hover {
        color: #767676; }

main {
  background-color: #fafafa; }
  main ._3mhmLt6AtR8KiK_Sr-Q3_z {
    padding: 30px 0px;
    background: #fff;
    max-width: 1160px;
    margin: 0 auto; }

footer {
  border-top: 1px solid #ddd;
  padding: 40px 20px; }
  footer ._1dx6gpxfHXY33Z8IuUJDel {
    max-width: 1160px;
    margin: 0 auto; }
    footer ._1dx6gpxfHXY33Z8IuUJDel ._3ZpvbNLrX_OF3JQbXIvHXC {
      display: flex;
      color: #767676;
      padding: 10px 25px; }
      footer ._1dx6gpxfHXY33Z8IuUJDel ._3ZpvbNLrX_OF3JQbXIvHXC ._36YYoCnKLWzEpwe9PcW_co {
        flex: 1; }
      footer ._1dx6gpxfHXY33Z8IuUJDel ._3ZpvbNLrX_OF3JQbXIvHXC ._3YRfcerXXO5Dq6uesH8HGs {
        flex: 1;
        justify-content: flex-end;
        text-align: right;
        display: flex;
        list-style: none;
        font-size: 14px;
        margin: 0; }
        footer ._1dx6gpxfHXY33Z8IuUJDel ._3ZpvbNLrX_OF3JQbXIvHXC ._3YRfcerXXO5Dq6uesH8HGs li a {
          color: #767676;
          margin-left: 25px; }
    footer ._1dx6gpxfHXY33Z8IuUJDel .rFumMS_1pPWoV9EfCZbWp {
      color: #aaa;
      font-size: 12px;
      padding: 1px 25px; }

body {
  font-style: normal;
  margin: 0px;
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  background: #fff;
  background-repeat: repeat; }

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0; }

a {
  text-decoration: none; }

._3my5TOInUbgKyjsQbBZ92o {
  align-items: center;
  display: flex; }
  ._3my5TOInUbgKyjsQbBZ92o .y6OOztRK4lQr5OI5nEpVy {
    width: 100%; }
  ._3my5TOInUbgKyjsQbBZ92o a {
    width: 100%; }
    ._3my5TOInUbgKyjsQbBZ92o a .QVgugY0-q5wNMdmCGLQDr {
      width: 100%;
      height: 200px;
      overflow: hidden; }
      ._3my5TOInUbgKyjsQbBZ92o a .QVgugY0-q5wNMdmCGLQDr ._1LiIS4qm-jhoktZPKwEyJG {
        object-fit: cover;
        height: 100%;
        width: 100%; }

._8kPUtJVRq4iWSv1ITNsys {
  padding: 15px 0;
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  ._8kPUtJVRq4iWSv1ITNsys ._3B_Bc0fIvS2XoVYZLkpjTa {
    font-size: 14px;
    color: #aaa; }
  ._8kPUtJVRq4iWSv1ITNsys .rcR7xT0KdEY0KeJwTs1g_ {
    font-size: 16px;
    color: #767676;
    line-height: 1.4;
    font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
    margin-bottom: 10px;
    margin-top: 0px; }
  ._8kPUtJVRq4iWSv1ITNsys .qTPET2lOgnYsCK9unihLt {
    font-size: 21px;
    font-weight: 700;
    padding-top: 4px;
    padding-bottom: 8px;
    line-height: 1.2;
    margin: 0px;
    font-family: "Gelasio", serif; }
    ._8kPUtJVRq4iWSv1ITNsys .qTPET2lOgnYsCK9unihLt ._15_9KvLr7D9nquXz1XyiVl {
      color: #000; }
  ._8kPUtJVRq4iWSv1ITNsys ._3MDlRUwSr9vbpnrX7qmsda {
    display: flex;
    align-items: center; }
    ._8kPUtJVRq4iWSv1ITNsys ._3MDlRUwSr9vbpnrX7qmsda ._3xZ-BEw1448VopORca9nkg {
      margin: 0px;
      list-style: none;
      padding: 0px;
      display: flex; }
      ._8kPUtJVRq4iWSv1ITNsys ._3MDlRUwSr9vbpnrX7qmsda ._3xZ-BEw1448VopORca9nkg ._3udaMZHJG2U6kCtDnvOr5N {
        font-size: 12px;
        display: inline-block; }
        ._8kPUtJVRq4iWSv1ITNsys ._3MDlRUwSr9vbpnrX7qmsda ._3xZ-BEw1448VopORca9nkg ._3udaMZHJG2U6kCtDnvOr5N a {
          color: #6A0BFF;
          text-transform: uppercase;
          letter-spacing: 0.5px;
          margin-right: 10px; }
  ._8kPUtJVRq4iWSv1ITNsys ._2rJiXXpe7qQj87ppFxdRd2 {
    display: flex;
    align-items: center; }

.khJbwdCqjmcNdI4kMed2J {
  margin-bottom: 50px;
  display: flex;
  width: calc(33.33333% - 50px);
  flex-direction: column;
  padding-left: 25px;
  padding-right: 25px; }
  .khJbwdCqjmcNdI4kMed2J:hover ._1LiIS4qm-jhoktZPKwEyJG {
    transform: scale(1.05);
    transition: transform 3s cubic-bezier(0.35, 0.9, 0.5, 1); }
  .khJbwdCqjmcNdI4kMed2J:first-child {
    flex-direction: row;
    width: 100%; }
    .khJbwdCqjmcNdI4kMed2J:first-child ._3xZ-BEw1448VopORca9nkg ._3udaMZHJG2U6kCtDnvOr5N a {
      color: #e3f96a; }
    .khJbwdCqjmcNdI4kMed2J:first-child ._3my5TOInUbgKyjsQbBZ92o {
      flex: 3; }
    .khJbwdCqjmcNdI4kMed2J:first-child ._8kPUtJVRq4iWSv1ITNsys {
      flex: 2;
      padding: 40px;
      background: #6A0BFF; }
      .khJbwdCqjmcNdI4kMed2J:first-child ._8kPUtJVRq4iWSv1ITNsys ._3B_Bc0fIvS2XoVYZLkpjTa {
        color: rgba(255, 255, 255, 0.6); }
    .khJbwdCqjmcNdI4kMed2J:first-child .qTPET2lOgnYsCK9unihLt {
      font-size: 36px;
      line-height: 1.1; }
      .khJbwdCqjmcNdI4kMed2J:first-child .qTPET2lOgnYsCK9unihLt a {
        color: #fff; }
    .khJbwdCqjmcNdI4kMed2J:first-child .rcR7xT0KdEY0KeJwTs1g_ {
      color: #fff;
      font-size: 18px; }
    .khJbwdCqjmcNdI4kMed2J:first-child .QVgugY0-q5wNMdmCGLQDr {
      height: 400px; }

._3r3UDP1GIpYp9BPFNpOd2F {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; }


/*# sourceMappingURL=styles.chunk.css.map*/