._3my5TOInUbgKyjsQbBZ92o {
  align-items: center;
  display: flex; }
  ._3my5TOInUbgKyjsQbBZ92o .y6OOztRK4lQr5OI5nEpVy {
    width: 100%; }
  ._3my5TOInUbgKyjsQbBZ92o a {
    width: 100%; }
    ._3my5TOInUbgKyjsQbBZ92o a .QVgugY0-q5wNMdmCGLQDr {
      width: 100%;
      height: 200px;
      overflow: hidden; }
      ._3my5TOInUbgKyjsQbBZ92o a .QVgugY0-q5wNMdmCGLQDr ._1LiIS4qm-jhoktZPKwEyJG {
        object-fit: cover;
        height: 100%;
        width: 100%; }

._8kPUtJVRq4iWSv1ITNsys {
  padding: 15px 0;
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  ._8kPUtJVRq4iWSv1ITNsys ._3B_Bc0fIvS2XoVYZLkpjTa {
    font-size: 14px;
    color: #aaa; }
  ._8kPUtJVRq4iWSv1ITNsys .rcR7xT0KdEY0KeJwTs1g_ {
    font-size: 16px;
    color: #767676;
    line-height: 1.4;
    font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
    margin-bottom: 10px;
    margin-top: 0px; }
  ._8kPUtJVRq4iWSv1ITNsys .qTPET2lOgnYsCK9unihLt {
    font-size: 21px;
    font-weight: 700;
    padding-top: 4px;
    padding-bottom: 8px;
    line-height: 1.2;
    margin: 0px;
    font-family: "Gelasio", serif; }
    ._8kPUtJVRq4iWSv1ITNsys .qTPET2lOgnYsCK9unihLt ._15_9KvLr7D9nquXz1XyiVl {
      color: #000; }
  ._8kPUtJVRq4iWSv1ITNsys ._3MDlRUwSr9vbpnrX7qmsda {
    display: flex;
    align-items: center; }
    ._8kPUtJVRq4iWSv1ITNsys ._3MDlRUwSr9vbpnrX7qmsda ._3xZ-BEw1448VopORca9nkg {
      margin: 0px;
      list-style: none;
      padding: 0px;
      display: flex; }
      ._8kPUtJVRq4iWSv1ITNsys ._3MDlRUwSr9vbpnrX7qmsda ._3xZ-BEw1448VopORca9nkg ._3udaMZHJG2U6kCtDnvOr5N {
        font-size: 12px;
        display: inline-block; }
        ._8kPUtJVRq4iWSv1ITNsys ._3MDlRUwSr9vbpnrX7qmsda ._3xZ-BEw1448VopORca9nkg ._3udaMZHJG2U6kCtDnvOr5N a {
          color: #6A0BFF;
          text-transform: uppercase;
          letter-spacing: 0.5px;
          margin-right: 10px; }
  ._8kPUtJVRq4iWSv1ITNsys ._2rJiXXpe7qQj87ppFxdRd2 {
    display: flex;
    align-items: center; }

.khJbwdCqjmcNdI4kMed2J {
  margin-bottom: 50px;
  display: flex;
  width: calc(33.33333% - 50px);
  flex-direction: column;
  padding-left: 25px;
  padding-right: 25px; }
  .khJbwdCqjmcNdI4kMed2J:hover ._1LiIS4qm-jhoktZPKwEyJG {
    transform: scale(1.05);
    transition: transform 3s cubic-bezier(0.35, 0.9, 0.5, 1); }
  .khJbwdCqjmcNdI4kMed2J:first-child {
    flex-direction: row;
    width: 100%; }
    .khJbwdCqjmcNdI4kMed2J:first-child ._3xZ-BEw1448VopORca9nkg ._3udaMZHJG2U6kCtDnvOr5N a {
      color: #e3f96a; }
    .khJbwdCqjmcNdI4kMed2J:first-child ._3my5TOInUbgKyjsQbBZ92o {
      flex: 3; }
    .khJbwdCqjmcNdI4kMed2J:first-child ._8kPUtJVRq4iWSv1ITNsys {
      flex: 2;
      padding: 40px;
      background: #6A0BFF; }
      .khJbwdCqjmcNdI4kMed2J:first-child ._8kPUtJVRq4iWSv1ITNsys ._3B_Bc0fIvS2XoVYZLkpjTa {
        color: rgba(255, 255, 255, 0.6); }
    .khJbwdCqjmcNdI4kMed2J:first-child .qTPET2lOgnYsCK9unihLt {
      font-size: 36px;
      line-height: 1.1; }
      .khJbwdCqjmcNdI4kMed2J:first-child .qTPET2lOgnYsCK9unihLt a {
        color: #fff; }
    .khJbwdCqjmcNdI4kMed2J:first-child .rcR7xT0KdEY0KeJwTs1g_ {
      color: #fff;
      font-size: 18px; }
    .khJbwdCqjmcNdI4kMed2J:first-child .QVgugY0-q5wNMdmCGLQDr {
      height: 400px; }

._3r3UDP1GIpYp9BPFNpOd2F {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; }

